@font-face {
    font-family: EmojiSymbols;
    src: url(../fonts/EmojiSymbols-Regular.woff);
}


.emoji {
    font-weight: normal;
    font-family: "Apple Color Emoji",
    "Segoe UI Emoji","NotoColorEmoji",
    "Segoe UI Symbol","Android Emoji",
    "EmojiSymbols";
    display: inline-block;
    font-size: 1.4em;
    line-height: initial;
    cursor: pointer;
    padding: 3px;
    text-align: center;
}
.emoji:hover {
    transform: scale(1.1);
}